body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

select {
    padding: 5px;
}

#weather-info {
    margin-top: 20px;
}
