/* Basic reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: mistyrose;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 50px 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

form input,
form textarea,
form button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
